coin_mongo_db:
    conn_type: mongo
    description: ''
    extra: '{"authSource": "admin"}'
    host: <your_mongo_db_host>
    login: <your_mongo_db_user>
    password: <your_mongo_db_pass>
    port: null
    schema: <your_mongodb_schema> 

gcp_service_account:
    conn_type: google_cloud_platform
    description: ''
    extra: ''
    host: ''
    login: ''
    password: null
    port: null
    schema: ''
