{
      "ENVIRONMENT_PREFIX": "dev", # isi dengan prod atau dev sesuai dengan environment tipe dari VM
      "START_DATE": "2022-01-01 00:00:00", # Format: YYYY-mm-dd HH:MM:SS
      "END_DATE": null, # Opsional: Biarkan null jika pipeline akan dijalankan secara terus menerus / continue. Format sama seperti START_DATE
      "START_END_DATE_TIMEZONE": "Asia/Jakarta", # Gunakan format TZ database name standar dari IANA
      "COIN_INVOKE_URL": "https://you-cloud-run-app.run.app/submit_job", # URL untuk menjalankan job coin
      "JOBS_COLLECTION": "cloud_run_jobs", # Nama collection yang digunakan untuk menyimpan data scheduled job di MongoDB
}